<p class="offconvase"> TRANSACTIONS </p>
<div class="transaction-header">
    <span><%= @groups.name%></span>
    <span class="bold"><%= number_to_currency @entity.sum(:amount)%></span>
</div>
    <% @entity.each do |e|%>
        <div class="transaction-card">
           <span><%=  e.name %></span>
           <span class="bold"><%= number_to_currency  e.amount %></span>
        </div>
    <%end%>
<div class="category-container transaction-btn">
<%= link_to 'Back', user_groups_path, class: 'add-category-btn'%>
<%= link_to "add a new transaction", new_user_group_entity_path, class:'add-category-btn' %>
</div>
