
<div class="login-screen">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-header">
    <%= link_to image_tag("arrow-left.svg", alt: "back", class: "arrow-back"), splashs_index_path %>
    <h2>Log in</h2>
    <%= f.submit "Log in", class:'login-top-btn' %>
  </div>

  <div>
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: 'form-control' %>
  </div>

  <div class="mb-4">
    <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
  </div>

<% end %>

<span class='forgot-text'>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot-text' %>
</span>
</div>
